<%- include('../Partials/MetaTag/adminMeta.ejs') %>
<title>Admin | View Salary Info</title>
<%- include('../Partials/Navbar/adminNav.ejs') %>
<%- include('../Partials/flash_messages') %>
<%- include('../Partials/SideBar/adminside.ejs') %>
<div class="container">
    <h3>Viewing Designation <%= employee.designationName %>  </h3>
    <h3>Department <%= employee.department.departmentName %> </h3>
    <h4>Employee Type <%= employee.employeeType %></h4>
    <h4>Annual Base pay: <%= employee.stipendCurrency %> </h4>
    <h4>Annual Base Pay: <%= employee.annualbasePay %>  </h4>
    <h4>Paid Leaves Permitted: <%=employee.paidLeavesPermitted %></h4>
    <h4>Allowance Info</h4>
    <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Allowance Name</th>
            <th scope="col">Allowance Amount</th>
            <th scope="col">Allowance Info</th>
          </tr>
        </thead>
        <tbody>
            <% let totalAllowance=0 %> 
         <% employee.annualAllowances.forEach(allowance => { %>
            <%console.log(allowance)  %> 
             <tr>
                <td><%= allowance.allowanceName %> </td>
                <td><%= allowance.allowanceAmount %> <% totalAllowance+=allowance.allowanceAmount %>  </td>
                <td><%= allowance.allowanceInfo %> </td>
             </tr>
         <% }); %> 
         <tr>
             <td><span style="color: red; font-weight: bolder;">Total Allowance Amount :  <%= totalAllowance %>  </span> </td>
         </tr>
        </tbody>
      </table>
</div>
<div class="container">
    <h4>Pension Info</h4>
    <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Minimum Service Years</th>
            <th scope="col">Minimum Age</th>
            <th scope="col">Pension Pay</th>
          </tr>
        </thead>
        <tbody>
             <tr>
                <td><%= employee.pensionInfo.minServiceYears %> </td>
                <td><%= employee.pensionInfo.minAge %>  </td>
                <td><%= employee.pensionInfo.pensionPay %> </td>
             </tr>
        </tbody>
      </table>
</div>
<%- include('../Partials/Scripts/adminscript.ejs') %>