<%- include('../Partials/MetaTag/adminMeta.ejs') %>

<title>Register Faculty</title>

<%- include('../Partials/Navbar/adminNav.ejs') %>
<%- include('../Partials/SideBar/adminside.ejs') %>
        <div class="row">
          <div class="col-lg-12">
            <section class="panel">
              <header class="panel-heading">
                Add Employees
              </header>
              <div class="container mt-3">
                <form action="#" method="post" class="form-horizontal ">            
                  <div class="custom-file col-lg-12 mb-3">
                    <input type="file" class="custom-file-input" id="customFile" name="filename">
                    <label class="custom-file-label" for="customFile">Choose csv File</label>
                  </div>
                  <div class="mt-3" form-group>
                    <button type="button" class="btn btn-primary btn-md">Submit</button>
                  </div>
                </form>
              </div>
              <h3 style="text-align: center;">OR</h3>
              <div class="panel-body">

                <form class="form-horizontal" id="form" method="post" action="/admin/adduser">

                  <div class="form-group">
                    <label class="control-label">Full Name</label>
                    <input type="text" class="form-control" name="name" required>
                  </div>
                  <div class="form-group">
                    <label class="control-label" for="select" required>Department</label>
                    <select class="form-control form-control-lg" name="department">
                      <% if(departments){%>
                        <% departments.forEach((department)=>{%>
                          <option value="<%=department._id%>"><%= department.departmentName %> </option>
                        <%}) %>
                      <%}else{%>
                          <option>No department Exists</option>
                      <%}%> 
                    </select>
                  </div>
                
                  <div class="form-group">
                    <label class="control-label" for="select" required>Type</label>
                    <select class="form-control form-control-lg" name="type">
                      <option value="" selected disabled>Choose One</option>
                          <option value="Faculty">Faculty</option>
                          <option value="Staff">Staff</option>
                          <option value="Management">Management</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Employee Id</label>
                    <input type="text" class="form-control" name="employeeId" required>
                  </div>

                  <div class="form-group">
                      <label class="control-label" for="join_date">Joining Date</label>
                      <div class="col-sm-10">
                        <input type="date" id="join_date" class="form-control" name="enrolledDate" required>
                      </div>  
                  </div>

                  <div class="form-group">
                    <label class="control-label">Email</label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" name="email" required>
                    </div>
                  </div>
                  <!-- <div class="form-group">
                    <label class="control-label" for="select" required>Designation</label>
                    <div class="col-lg-10">
                      <select class="form-control form-control-lg" name="institute">
                        <option value="" selected disabled>Choose One</option>
                            <option>Designation 1</option>
                            <option>Designation 2</option>
                            <option>Designation 3</option>
                      </select>
                    </div>
                  </div> -->
                  <div class="form-group">
                    <label class="control-label" for="select" required>Gender</label>
                    <select class="form-control form-control-lg" name="gender">
                      <option value="male" selected>Male</option>
                          <option value="female">Female</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Password</label>
                    <div class="col-sm-10">
                      <input class="form-control" type="password" name="pass" id="pass" required>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label">Confirm Password</label>
                    <input class="form-control" type="password" name="confirmpass" required>
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
              </div>
            </section>
          </div>
        </div>
  <%- include('../Partials/Scripts/adminscript.ejs') %>