<%- include('../Partials/MetaTag/adminMeta.ejs') %>
<title>Leaves</title>
<%- include('../Partials/Navbar/adminNav.ejs') %>
<%- include('../Partials/SideBar/adminside.ejs') %>
        
        <div class="row">
          <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-file-text-o"></i>Leaves</h3>
            <ol class="breadcrumb">
              <li><i class="fa fa-home"></i><a href="/adminhome">Home</a></li>
              <li><i class="icon_document_alt"></i>Leaves</li>
            </ol>
          </div>
        </div>
        
        <div class="row" id="form">
          <div class="col-lg-12">
            <section class="panel">
              <!-- class="d-none" -->
                <div id="info" class="d-none">
                  <input type="button" class="form-control" id="download" value="Back" onclick="goback(this)">
                  <form class="form-horizontal" method="post" action="/admin/employee/leave">
                    <header class="panel-heading">
                      Leave Detail
                    </header>

                    <div class="form-group" id="leave">
                      <label class="col-sm-2 control-label">LeaveID</label>
                      <div class="col-sm-10">
                        <input class="form-control" type="text" name="leaveId" readonly="readonly" id="leaveID">
                      </div>  
                    </div>

                    <div class="form-group">
                      <label class="col-sm-2 control-label">Enrollment Number</label>
                      <div class="col-sm-10">
                        <input class="form-control" type="text" name="enrollment" readonly="readonly" id="enrollment">
                      </div>  
                    </div>


                    <div class="form-group">
                     <label class="col-sm-2 control-label">Faculty Name</label>
                      <div class="col-sm-10">
                        <input class="form-control" type="text" name="name" readonly="readonly" id="name">
                      </div>
                    </div>
                    
                    <div class="form-group">
                      <label class="col-sm-2 control-label">Department</label>
                      <div class="col-sm-10">
                        <input class="form-control" type="text" name="department" readonly="readonly" id="department">
                      </div>
                    </div>
                    
                    <div class="form-group" >
                      <label class="col-sm-2 control-label">Leaves Remaining</label>
                      <div class="col-sm-10">
                        <input class="form-control" type="text" name="leavesReamaining" readonly="readonly" id="leavesRemaining">
                      </div>
                    </div>

                    <div class="form-group" >
                      <label class="col-sm-2 control-label">Reason</label>
                      <div class="col-sm-10">
                        <input class="form-control" type="text" name="reason" readonly="readonly" id="reason">
                      </div>
                    </div>

                    <div class="form-group d-none" id="approvedid">
                      <label class="col-sm-2 control-label">Status</label>
                      <div class="col-sm-10">
                        <input class="form-control" type="text" readonly="readonly" id="approved">
                      </div>
                    </div>
                    <div class="form-group" id="status">
                      <label class="control-label col-lg-2" for="select" required>Status</label>
                      <div class="col-lg-10">
                        <select class="form-control form-control-lg" name="status">
                          <option value="" selected disabled>Choose One</option>
                          <option value="Approved">Approve</option>
                          <option value="Rejected">Reject</option>
                        </select>
                      </div>
                    </div>

                    

                    <button class="form-control" id="submit" type="submit" value="Submit">Submit</button>
                    <input type="button" class="form-control" id="download" value="Download PDF" onclick="downloadpdf()">
                  </form>
                </div>
                
              </section>

              <section>
                <div>
                  
                
              <table id="leaveTable" class="table table-hover" onclick="table(this)">

                <thead>
                  <tr>
                    <th scope="col">Serial Number</th>
                    <th scope="col">Enrollment No</th>
                    <th scope="col">Name</th>
                    <th scope="col">Department</th>
                    <th scope="col">Leaves Remaining</th>
                    <th scope="col">Reason</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                
                <tbody>
                  <% for(var i=0; i<allleaves.length; i++) {%>
                    <% for(var j=0; j<allleaves[i].leaves.length; j++) {%>
                      <tr onclick="row(this)">
                        <th id="leaveid"><%= allleaves[i].leaves[j]._id %></th>
                        <th><%= allleaves[i].employeeId %></th>
                        <th><%= allleaves[i].name %></th>
                        <th><%= allleaves[i].departmentName %></th>
                        <th><%= allleaves[i].leavesReamaining %></th>
                        <th><%= allleaves[i].leaves[j].leaveReason %></th>
                        <th><%= allleaves[i].leaves[j].approvedStatus %></th>
                      </tr>
                    <% } %>
                  <% } %>
                  
                </tbody>
                
              </table>
              </div>
            </section>

          </div>
        </div>
<%- include('../Partials/Scripts/adminscript.ejs') %>