<%- include('../Partials/MetaTag/adminMeta.ejs') %>
<title>Admin</title>
<%- include('../Partials/Navbar/adminNav.ejs') %>
<%- include('../Partials/flash_messages') %>
<%- include('../Partials/SideBar/adminside.ejs') %>
<div class="container">
    <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Employee Type</th>
            <th scope="col">Designation Name</th>
            <th scope="col">Department</th>
            <th scope="col">Annual Base Pay</th>
            <th scope="col">Paid Leaves Permitted</th>
            <th scope="col">Add Allowances</th>
            <th scope="col">Add Pension Details</th>
            <th scope="col">View Complete Details</th>
          </tr>
        </thead>
        <tbody>
         <% employees.forEach(employee => { %>
             <tr>
                <td><%= employee.employeeType %> </td>
                <td><%= employee.designationName %> </td>
                <td><%= employee.department.departmentName %> </td>
                <td><%= employee.annualbasePay%> <%= employee.stipendCurrency %> </td>
                <td><%= employee.paidLeavesPermitted%></td>
                <td><a href="/admin/addemployeeinfo/<%=employee._id%>/allowance" class="btn btn-success btn-md">Add Allowances Info</a></td>
                <td><a href="/admin/addemployeeinfo/<%=employee._id%>/pension" class="btn btn-info btn-md">Add Pension Info</a></td>
                <td><a href="/admin/employeeinfo/<%=employee._id%>" class="btn btn-link btn-md">View Complete Info</a></td>
             </tr>
         <% }); %> 
        </tbody>
      </table>
</div>

<%- include('../Partials/Scripts/adminscript.ejs') %>