<%- include('../Partials/MetaTag/facultymeta.ejs') %>
  <title>Profile</title>
    <%- include('../Partials/Navbar/facultyNav.ejs') %>

     <%- include('../Partials/SideBar/facultyside.ejs') %>
        <div class="row">
          <div class="col-lg-12">
            <h3 class="page-header"><i class="fa fa-user" aria-hidden="true"></i></i>Namit Goel</h3>
            <ol class="breadcrumb">
              <li><i class="sfa fa-home"></i><a href="/facultyHome">Home</a></li>
              <li><i class="icon_document_alt"></i>Profile</li>
            </ol>
          </div>

       

              <div class="container">
                
              
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Enrollment Id: <%= user.employeeID %></li>
                <li class="list-group-item">Name: <%= user.name %> </li>
                <li class="list-group-item">Email: <%= user.email%></li>
                <li class="list-group-item">Department:<%= user.employeeID %> </li>
                <li class="list-group-item">College: <%= user.employeeID %> </li>
                <li class="list-group-item">Joining Date: <%= user.enrolledDate %> </li>
                <li class="list-group-item">Designation: <%= user.designation %> </li>
                <li class="list-group-item">Base Salary: <%= user.employeeID %> </li>
                <li class="list-group-item">Increment Rate: <%= user.employeeID %> </li>
                
              </ul>
            
            </div>          
   
         <hr>
 
 <%- include('../Partials/Scripts/facultyscripts.ejs') %>
