<%- include('../Partials/MetaTag/adminMeta.ejs') %>
<title>Super Admin| Add Admin</title>
<%- include('../Partials/Navbar/adminNav.ejs') %>
<%- include('../Partials/flash_messages') %>
<%- include('../Partials/SideBar/superUserSideBar.ejs') %>
<div class="container">
    <form action="/superuser/admin" method="POST">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Confirm Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="confirmpass">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Gender</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="gender">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Name</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="name">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Institute Name</label>
           <select name="instituteName">
               <% institutes.forEach(institute=>{ %>
                    <option value="<%= institute.instituteName %>"><%= institute.instituteName %></option>
               <% }) %> 
           </select>
          </div>
        <button type="submit" class="btn btn-primary btn-md">Submit</button>
    </form>
</div>
<%- include('../Partials/Scripts/adminscript.ejs') %>